/* .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.pic {
  width: 45vw;
  height: 25vh;

}

 .pic1 {
width: 15vw;
height: 35vh;

 }

 @media only screen and (max-width: 600px) {
     .temp {
       color: black;
     }
 } */
